body{
  background-color: chartreuse;
}
.ex{
  color: brown;
}
.ex1{
  color: royalblue;
  background-color: aquamarine;
  border: 2px solid black;
  box-shadow: 10px 10px 10px gray;
  text-align: center;
}